<div class="w3l_banner_nav_right" >
   

    <h1 style="padding-left: 50px;">KEY TAKEAWAYS</h1>
    <ul style="padding-left: 50px; padding-top: 10px; ">
        <li>Ecommerce is the buying and selling of goods and services over the Internet.</li>
        <li>we conducted over all grocery items and feature we planning Electronic items like: tablets, smartphones, and other smart devices.</li>
        <li>Almost anything can be purchased through ecommerce today.</li>
        <li>It can be a substitute for brick-and-mortar stores, though some businesses choose to maintain both.</li>
        <li>Ecommerce operates in four market segments, including business-to-business, business-to-consumer, consumer-to-consumer, and consumer-to-business.</li>
    </ul>
  
    
</div>
<div class="clearfix"></div>




